.btn-width{
    width:140px;
  }
  body{
      min-height:100vh;
  }
  img {
      aspect-ratio: 172/115;
      object-fit:cover;
  }
  .transition-out {
      transition:0.2s;
      opacity:0%;
  }
  .transition-in {
      transition:0.2s;
      opacity:100%;
  }
  .ocultar{
      display:none;
  }
  .mostrar{
      display:block;
  }